.glidearea_container
  .glides
    display flex
    flex-direction row
    flex-align start
    flex-wrap wrap
    justify-content space-around
    padding 20px 0
    width 100%
    .glide
      margin-bottom 40px
      width 270px
      .glide_thumbs
        padding 15px 15px 0
        border-radius 3px
        .glide_thumb
          margin 0 auto
          width 240px
          height 180px
          background-size contain
          border-radius 3px
        .glide_title
          position relative
          padding 12px 30px 12px 0
          font-weight bold
          font-size 13px
          line-height 20px
        .glide_owner
          position absolute
          right 0
          top 10px
          width 24px
          height 24px
          border-radius 12px
          background-color $color-gray
          background-size contain
          vertical-align middle
      .glide_times, .glide_views, .glide_stars
        display inline-block
        font-weight bold
        font-size 10px
        line-height 44px
      .glide_times
        padding-left 15px
      .glide_views, .glide_stars
        float right
        padding-right 15px
        .icon
          padding-right 5px
  .pagers
    padding-bottom 40px
    font-weight bold
    font-size 12px
    text-align center
    .pager
      display inline-block
      width 80px
      text-align center
      border-radius 3px
      background-color $color-gray
      line-height 44px
    .pager_prev + .pager_next
      margin-left 22px
    .pager_prev
      .icon
        padding-right 6px
    .pager_next
      .icon
        padding-left 6px