@font-face
  font-family 'Glyphicons Regular'
  src url('/font/glyphicons-regular.eot')
  src url('/font/glyphicons-regular.eot?#iefix') format('embedded-opentype'), url('/font/glyphicons-regular.woff') format('woff'), url('/font/glyphicons-regular.ttf') format('truetype'), url('/font/glyphicons-regular.svg#glyphiconsregular') format('svg')
  font-weight normal
  font-style normal
.icon
  display inline
  position relative
  text-decoration none
  vertical-align middle
.icon:before
  font-family 'Glyphicons Regular'
  font-style normal
  font-weight normal
.icon.glass:before
  content "\E001"
.icon.leaf:before
  content "\E002"
.icon.dog:before
  content "\1F415"
.icon.user:before
  content "\E004"
.icon.girl:before
  content "\1F467"
.icon.car:before
  content "\E006"
.icon.user_add:before
  content "\E007"
.icon.user_remove:before
  content "\E008"
.icon.film:before
  content "\E009"
.icon.magic:before
  content "\E010"
.icon.envelope:before
  content "\2709"
.icon.camera:before
  content "\1F4F7"
.icon.heart:before
  content "\E013"
.icon.beach_umbrella:before
  content "\E014"
.icon.train:before
  content "\1F686"
.icon.print:before
  content "\E016"
.icon.bin:before
  content "\E017"
.icon.music:before
  content "\E018"
.icon.note:before
  content "\E019"
.icon.heart_empty:before
  content "\E020"
.icon.home:before
  content "\E021"
.icon.snowflake:before
  content "\2744"
.icon.fire:before
  content "\1F525"
.icon.magnet:before
  content "\E024"
.icon.parents:before
  content "\E025"
.icon.binoculars:before
  content "\E026"
.icon.road:before
  content "\E027"
.icon.search:before
  content "\E028"
.icon.cars:before
  content "\E029"
.icon.notes_2:before
  content "\E030"
.icon.pencil:before
  content "\270F"
.icon.bus:before
  content "\1F68C"
.icon.wifi_alt:before
  content "\E033"
.icon.luggage:before
  content "\E034"
.icon.old_man:before
  content "\E035"
.icon.woman:before
  content "\1F469"
.icon.file:before
  content "\E037"
.icon.coins:before
  content "\E038"
.icon.airplane:before
  content "\2708"
.icon.notes:before
  content "\E040"
.icon.stats:before
  content "\E041"
.icon.charts:before
  content "\E042"
.icon.pie_chart:before
  content "\E043"
.icon.group:before
  content "\E044"
.icon.keys:before
  content "\E045"
.icon.calendar:before
  content "\1F4C5"
.icon.router:before
  content "\E047"
.icon.camera_small:before
  content "\E048"
.icon.dislikes:before
  content "\E049"
.icon.star:before
  content "\E050"
.icon.link:before
  content "\E051"
.icon.eye_open:before
  content "\E052"
.icon.eye_close:before
  content "\E053"
.icon.alarm:before
  content "\E054"
.icon.clock:before
  content "\E055"
.icon.stopwatch:before
  content "\E056"
.icon.projector:before
  content "\E057"
.icon.history:before
  content "\E058"
.icon.truck:before
  content "\E059"
.icon.cargo:before
  content "\E060"
.icon.compass:before
  content "\E061"
.icon.keynote:before
  content "\E062"
.icon.paperclip:before
  content "\1F4CE"
.icon.power:before
  content "\E064"
.icon.lightbulb:before
  content "\E065"
.icon.tag:before
  content "\E066"
.icon.tags:before
  content "\E067"
.icon.cleaning:before
  content "\E068"
.icon.ruller:before
  content "\E069"
.icon.gift:before
  content "\E070"
.icon.umbrella:before
  content "\2602"
.icon.book:before
  content "\E072"
.icon.bookmark:before
  content "\1F516"
.icon.wifi:before
  content "\E074"
.icon.cup:before
  content "\E075"
.icon.stroller:before
  content "\E076"
.icon.headphones:before
  content "\E077"
.icon.headset:before
  content "\E078"
.icon.warning_sign:before
  content "\E079"
.icon.signal:before
  content "\E080"
.icon.retweet:before
  content "\E081"
.icon.refresh:before
  content "\E082"
.icon.roundabout:before
  content "\E083"
.icon.random:before
  content "\E084"
.icon.heat:before
  content "\E085"
.icon.repeat:before
  content "\E086"
.icon.display:before
  content "\E087"
.icon.log_book:before
  content "\E088"
.icon.address_book:before
  content "\E089"
.icon.building:before
  content "\E090"
.icon.eyedropper:before
  content "\E091"
.icon.adjust:before
  content "\E092"
.icon.tint:before
  content "\E093"
.icon.crop:before
  content "\E094"
.icon.vector_path_square:before
  content "\E095"
.icon.vector_path_circle:before
  content "\E096"
.icon.vector_path_polygon:before
  content "\E097"
.icon.vector_path_line:before
  content "\E098"
.icon.vector_path_curve:before
  content "\E099"
.icon.vector_path_all:before
  content "\E100"
.icon.font:before
  content "\E101"
.icon.italic:before
  content "\E102"
.icon.bold:before
  content "\E103"
.icon.text_underline:before
  content "\E104"
.icon.text_strike:before
  content "\E105"
.icon.text_height:before
  content "\E106"
.icon.text_width:before
  content "\E107"
.icon.text_resize:before
  content "\E108"
.icon.left_indent:before
  content "\E109"
.icon.right_indent:before
  content "\E110"
.icon.align_left:before
  content "\E111"
.icon.align_center:before
  content "\E112"
.icon.align_right:before
  content "\E113"
.icon.justify:before
  content "\E114"
.icon.list:before
  content "\E115"
.icon.text_smaller:before
  content "\E116"
.icon.text_bigger:before
  content "\E117"
.icon.embed:before
  content "\E118"
.icon.embed_close:before
  content "\E119"
.icon.table:before
  content "\E120"
.icon.message_full:before
  content "\E121"
.icon.message_empty:before
  content "\E122"
.icon.message_in:before
  content "\E123"
.icon.message_out:before
  content "\E124"
.icon.message_plus:before
  content "\E125"
.icon.message_minus:before
  content "\E126"
.icon.message_ban:before
  content "\E127"
.icon.message_flag:before
  content "\E128"
.icon.message_lock:before
  content "\E129"
.icon.message_new:before
  content "\E130"
.icon.inbox:before
  content "\E131"
.icon.inbox_plus:before
  content "\E132"
.icon.inbox_minus:before
  content "\E133"
.icon.inbox_lock:before
  content "\E134"
.icon.inbox_in:before
  content "\E135"
.icon.inbox_out:before
  content "\E136"
.icon.cogwheel:before
  content "\E137"
.icon.cogwheels:before
  content "\E138"
.icon.picture:before
  content "\E139"
.icon.adjust_alt:before
  content "\E140"
.icon.database_lock:before
  content "\E141"
.icon.database_plus:before
  content "\E142"
.icon.database_minus:before
  content "\E143"
.icon.database_ban:before
  content "\E144"
.icon.folder_open:before
  content "\E145"
.icon.folder_plus:before
  content "\E146"
.icon.folder_minus:before
  content "\E147"
.icon.folder_lock:before
  content "\E148"
.icon.folder_flag:before
  content "\E149"
.icon.folder_new:before
  content "\E150"
.icon.edit:before
  content "\E151"
.icon.new_window:before
  content "\E152"
.icon.check:before
  content "\E153"
.icon.unchecked:before
  content "\E154"
.icon.more_windows:before
  content "\E155"
.icon.show_big_thumbnails:before
  content "\E156"
.icon.show_thumbnails:before
  content "\E157"
.icon.show_thumbnails_with_lines:before
  content "\E158"
.icon.show_lines:before
  content "\E159"
.icon.playlist:before
  content "\E160"
.icon.imac:before
  content "\E161"
.icon.macbook:before
  content "\E162"
.icon.ipad:before
  content "\E163"
.icon.iphone:before
  content "\E164"
.icon.iphone_transfer:before
  content "\E165"
.icon.iphone_exchange:before
  content "\E166"
.icon.ipod:before
  content "\E167"
.icon.ipod_shuffle:before
  content "\E168"
.icon.ear_plugs:before
  content "\E169"
.icon.record:before
  content "\E170"
.icon.step_backward:before
  content "\E171"
.icon.fast_backward:before
  content "\E172"
.icon.rewind:before
  content "\E173"
.icon.play:before
  content "\E174"
.icon.pause:before
  content "\E175"
.icon.stop:before
  content "\E176"
.icon.forward:before
  content "\E177"
.icon.fast_forward:before
  content "\E178"
.icon.step_forward:before
  content "\E179"
.icon.eject:before
  content "\E180"
.icon.facetime_video:before
  content "\E181"
.icon.download_alt:before
  content "\E182"
.icon.mute:before
  content "\E183"
.icon.volume_down:before
  content "\E184"
.icon.volume_up:before
  content "\E185"
.icon.screenshot:before
  content "\E186"
.icon.move:before
  content "\E187"
.icon.more:before
  content "\E188"
.icon.brightness_reduce:before
  content "\E189"
.icon.brightness_increase:before
  content "\E190"
.icon.circle_plus:before
  content "\E191"
.icon.circle_minus:before
  content "\E192"
.icon.circle_remove:before
  content "\E193"
.icon.circle_ok:before
  content "\E194"
.icon.circle_question_mark:before
  content "\E195"
.icon.circle_info:before
  content "\E196"
.icon.circle_exclamation_mark:before
  content "\E197"
.icon.remove:before
  content "\E198"
.icon.ok:before
  content "\E199"
.icon.ban:before
  content "\E200"
.icon.download:before
  content "\E201"
.icon.upload:before
  content "\E202"
.icon.shopping_cart:before
  content "\E203"
.icon.lock:before
  content "\1F512"
.icon.unlock:before
  content "\E205"
.icon.electricity:before
  content "\E206"
.icon.ok_2:before
  content "\E207"
.icon.remove_2:before
  content "\E208"
.icon.cart_out:before
  content "\E209"
.icon.cart_in:before
  content "\E210"
.icon.left_arrow:before
  content "\E211"
.icon.right_arrow:before
  content "\E212"
.icon.down_arrow:before
  content "\E213"
.icon.up_arrow:before
  content "\E214"
.icon.resize_small:before
  content "\E215"
.icon.resize_full:before
  content "\E216"
.icon.circle_arrow_left:before
  content "\E217"
.icon.circle_arrow_right:before
  content "\E218"
.icon.circle_arrow_top:before
  content "\E219"
.icon.circle_arrow_down:before
  content "\E220"
.icon.play_button:before
  content "\E221"
.icon.unshare:before
  content "\E222"
.icon.share:before
  content "\E223"
.icon.chevron-right:before
  content "\E224"
.icon.chevron-left:before
  content "\E225"
.icon.bluetooth:before
  content "\E226"
.icon.euro:before
  content "\20AC"
.icon.usd:before
  content "\E228"
.icon.gbp:before
  content "\E229"
.icon.retweet_2:before
  content "\E230"
.icon.moon:before
  content "\E231"
.icon.sun:before
  content "\2609"
.icon.cloud:before
  content "\2601"
.icon.direction:before
  content "\E234"
.icon.brush:before
  content "\E235"
.icon.pen:before
  content "\E236"
.icon.zoom_in:before
  content "\E237"
.icon.zoom_out:before
  content "\E238"
.icon.pin:before
  content "\E239"
.icon.albums:before
  content "\E240"
.icon.rotation_lock:before
  content "\E241"
.icon.flash:before
  content "\E242"
.icon.google_maps:before
  content "\E243"
.icon.anchor:before
  content "\2693"
.icon.conversation:before
  content "\E245"
.icon.chat:before
  content "\E246"
.icon.male:before
  content "\E247"
.icon.female:before
  content "\E248"
.icon.asterisk:before
  content "\002A"
.icon.divide:before
  content "\00F7"
.icon.snorkel_diving:before
  content "\E251"
.icon.scuba_diving:before
  content "\E252"
.icon.oxygen_bottle:before
  content "\E253"
.icon.fins:before
  content "\E254"
.icon.fishes:before
  content "\E255"
.icon.boat:before
  content "\E256"
.icon.delete:before
  content "\E257"
.icon.sheriffs_star:before
  content "\E258"
.icon.qrcode:before
  content "\E259"
.icon.barcode:before
  content "\E260"
.icon.pool:before
  content "\E261"
.icon.buoy:before
  content "\E262"
.icon.spade:before
  content "\E263"
.icon.bank:before
  content "\1F3E6"
.icon.vcard:before
  content "\E265"
.icon.electrical_plug:before
  content "\E266"
.icon.flag:before
  content "\E267"
.icon.credit_card:before
  content "\E268"
.icon.keyboard-wireless:before
  content "\E269"
.icon.keyboard-wired:before
  content "\E270"
.icon.shield:before
  content "\E271"
.icon.ring:before
  content "\02DA"
.icon.cake:before
  content "\E273"
.icon.drink:before
  content "\E274"
.icon.beer:before
  content "\E275"
.icon.fast_food:before
  content "\E276"
.icon.cutlery:before
  content "\E277"
.icon.pizza:before
  content "\E278"
.icon.birthday_cake:before
  content "\E279"
.icon.tablet:before
  content "\E280"
.icon.settings:before
  content "\E281"
.icon.bullets:before
  content "\E282"
.icon.cardio:before
  content "\E283"
.icon.t-shirt:before
  content "\E284"
.icon.pants:before
  content "\E285"
.icon.sweater:before
  content "\E286"
.icon.fabric:before
  content "\E287"
.icon.leather:before
  content "\E288"
.icon.scissors:before
  content "\E289"
.icon.bomb:before
  content "\1F4A3"
.icon.skull:before
  content "\1F480"
.icon.celebration:before
  content "\E292"
.icon.tea_kettle:before
  content "\E293"
.icon.french_press:before
  content "\E294"
.icon.coffe_cup:before
  content "\E295"
.icon.pot:before
  content "\E296"
.icon.grater:before
  content "\E297"
.icon.kettle:before
  content "\E298"
.icon.hospital:before
  content "\1F3E5"
.icon.hospital_h:before
  content "\E300"
.icon.microphone:before
  content "\1F3A4"
.icon.webcam:before
  content "\E302"
.icon.temple_christianity_church:before
  content "\E303"
.icon.temple_islam:before
  content "\E304"
.icon.temple_hindu:before
  content "\E305"
.icon.temple_buddhist:before
  content "\E306"
.icon.bicycle:before
  content "\1F6B2"
.icon.life_preserver:before
  content "\E308"
.icon.share_alt:before
  content "\E309"
.icon.comments:before
  content "\E310"
.icon.flower:before
  content "\2698"
.icon.baseball:before
  content "\26BE"
.icon.rugby:before
  content "\E313"
.icon.ax:before
  content "\E314"
.icon.table_tennis:before
  content "\E315"
.icon.bowling:before
  content "\1F3B3"
.icon.tree_conifer:before
  content "\E317"
.icon.tree_deciduous:before
  content "\E318"
.icon.more_items:before
  content "\E319"
.icon.sort:before
  content "\E320"
.icon.filter:before
  content "\E321"
.icon.gamepad:before
  content "\E322"
.icon.playing_dices:before
  content "\E323"
.icon.calculator:before
  content "\E324"
.icon.tie:before
  content "\E325"
.icon.wallet:before
  content "\E326"
.icon.piano:before
  content "\E327"
.icon.sampler:before
  content "\E328"
.icon.podium:before
  content "\E329"
.icon.soccer_ball:before
  content "\E330"
.icon.blog:before
  content "\E331"
.icon.dashboard:before
  content "\E332"
.icon.certificate:before
  content "\E333"
.icon.bell:before
  content "\1F514"
.icon.candle:before
  content "\E335"
.icon.pushpin:before
  content "\1F4CC"
.icon.iphone_shake:before
  content "\E337"
.icon.pin_flag:before
  content "\E338"
.icon.turtle:before
  content "\1F422"
.icon.rabbit:before
  content "\1F407"
.icon.globe:before
  content "\E341"
.icon.briefcase:before
  content "\1F4BC"
.icon.hdd:before
  content "\E343"
.icon.thumbs_up:before
  content "\E344"
.icon.thumbs_down:before
  content "\E345"
.icon.hand_right:before
  content "\E346"
.icon.hand_left:before
  content "\E347"
.icon.hand_up:before
  content "\E348"
.icon.hand_down:before
  content "\E349"
.icon.fullscreen:before
  content "\E350"
.icon.shopping_bag:before
  content "\E351"
.icon.book_open:before
  content "\E352"
.icon.nameplate:before
  content "\E353"
.icon.nameplate_alt:before
  content "\E354"
.icon.vases:before
  content "\E355"
.icon.bullhorn:before
  content "\E356"
.icon.dumbbell:before
  content "\E357"
.icon.suitcase:before
  content "\E358"
.icon.file_import:before
  content "\E359"
.icon.file_export:before
  content "\E360"
.icon.bug:before
  content "\1F41B"
.icon.crown:before
  content "\1F451"
.icon.smoking:before
  content "\E363"
.icon.cloud-upload:before
  content "\E364"
.icon.cloud-download:before
  content "\E365"
.icon.restart:before
  content "\E366"
.icon.security_camera:before
  content "\E367"
.icon.expand:before
  content "\E368"
.icon.collapse:before
  content "\E369"
.icon.collapse_top:before
  content "\E370"
.icon.globe_af:before
  content "\E371"
.icon.global:before
  content "\E372"
.icon.spray:before
  content "\E373"
.icon.nails:before
  content "\E374"
.icon.claw_hammer:before
  content "\E375"
.icon.classic_hammer:before
  content "\E376"
.icon.hand_saw:before
  content "\E377"
.icon.riflescope:before
  content "\E378"
.icon.electrical_socket_eu:before
  content "\E379"
.icon.electrical_socket_us:before
  content "\E380"
.icon.message_forward:before
  content "\E381"
.icon.coat_hanger:before
  content "\E382"
.icon.dress:before
  content "\1F457"
.icon.bathrobe:before
  content "\E384"
.icon.shirt:before
  content "\E385"
.icon.underwear:before
  content "\E386"
.icon.log_in:before
  content "\E387"
.icon.log_out:before
  content "\E388"
.icon.exit:before
  content "\E389"
.icon.new_window_alt:before
  content "\E390"
.icon.video_sd:before
  content "\E391"
.icon.video_hd:before
  content "\E392"
.icon.subtitles:before
  content "\E393"
.icon.sound_stereo:before
  content "\E394"
.icon.sound_dolby:before
  content "\E395"
.icon.sound_5_1:before
  content "\E396"
.icon.sound_6_1:before
  content "\E397"
.icon.sound_7_1:before
  content "\E398"
.icon.copyright_mark:before
  content "\E399"
.icon.registration_mark:before
  content "\E400"
.icon.radar:before
  content "\E401"
.icon.skateboard:before
  content "\E402"
.icon.golf_course:before
  content "\E403"
.icon.sorting:before
  content "\E404"
.icon.sort-by-alphabet:before
  content "\E405"
.icon.sort-by-alphabet-alt:before
  content "\E406"
.icon.sort-by-order:before
  content "\E407"
.icon.sort-by-order-alt:before
  content "\E408"
.icon.sort-by-attributes:before
  content "\E409"
.icon.sort-by-attributes-alt:before
  content "\E410"
.icon.compressed:before
  content "\E411"
.icon.package:before
  content "\1F4E6"
.icon.cloud_plus:before
  content "\E413"
.icon.cloud_minus:before
  content "\E414"
.icon.disk_save:before
  content "\E415"
.icon.disk_open:before
  content "\E416"
.icon.disk_saved:before
  content "\E417"
.icon.disk_remove:before
  content "\E418"
.icon.disk_import:before
  content "\E419"
.icon.disk_export:before
  content "\E420"
.icon.tower:before
  content "\E421"
.icon.send:before
  content "\E422"
.icon.git_branch:before
  content "\E423"
.icon.git_create:before
  content "\E424"
.icon.git_private:before
  content "\E425"
.icon.git_delete:before
  content "\E426"
.icon.git_merge:before
  content "\E427"
.icon.git_pull_request:before
  content "\E428"
.icon.git_compare:before
  content "\E429"
.icon.git_commit:before
  content "\E430"
.icon.construction_cone:before
  content "\E431"
.icon.shoe_steps:before
  content "\E432"
.icon.plus:before
  content "\002B"
.icon.minus:before
  content "\2212"
.icon.redo:before
  content "\E435"
.icon.undo:before
  content "\E436"
.icon.golf:before
  content "\E437"
.icon.hockey:before
  content "\E438"
.icon.pipe:before
  content "\E439"
.icon.wrench:before
  content "\1F527"
.icon.folder_closed:before
  content "\E441"
.icon.phone_alt:before
  content "\E442"
.icon.earphone:before
  content "\E443"
.icon.floppy_disk:before
  content "\E444"
.icon.floppy_saved:before
  content "\E445"
.icon.floppy_remove:before
  content "\E446"
.icon.floppy_save:before
  content "\E447"
.icon.floppy_open:before
  content "\E448"
.icon.translate:before
  content "\E449"
.icon.fax:before
  content "\E450"
.icon.factory:before
  content "\1F3ED"
.icon.shop_window:before
  content "\E452"
.icon.shop:before
  content "\E453"
.icon.kiosk:before
  content "\E454"
.icon.kiosk_wheels:before
  content "\E455"
.icon.kiosk_light:before
  content "\E456"
.icon.kiosk_food:before
  content "\E457"
.icon.transfer:before
  content "\E458"
.icon.money:before
  content "\E459"
.icon.header:before
  content "\E460"
.icon.blacksmith:before
  content "\E461"
.icon.saw_blade:before
  content "\E462"
.icon.basketball:before
  content "\E463"
.icon.server:before
  content "\E464"
.icon.server_plus:before
  content "\E465"
.icon.server_minus:before
  content "\E466"
.icon.server_ban:before
  content "\E467"
.icon.server_flag:before
  content "\E468"
.icon.server_lock:before
  content "\E469"
.icon.server_new:before
  content "\E470"